{% if page.categories %}
  <h3>Related Posts</h3>
  <div class="related-posts-grid">
    {% assign current_category = page.categories[0] %}
    {% assign related_posts = site.categories[current_category] %}
    {% assign max_posts = 9 %} <!-- Menampilkan 9 postingan terkait -->
    {% for post in related_posts limit: max_posts %}
      {% if post.url != page.url %}
        <div class="related-post">
          <a href="{{ post.url }}">
            {% if post.image %}
              <img src="{{ post.image }}" alt="{{ post.title }}" class="related-post-image">
            {% endif %}
            <span>{{ post.title }}</span>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
